{% extends 'base.html' %}
{% block title %} edit {{user.id}} {% endblock %}
{% block content %}
<h1 class="title">{{title}}</h1>
<h2>update user information</h2>
<form method="post">
    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
    <input type="text" id="image_url" name="image_url" value="{{ user.image_url }}">
    <button type="submit">submit</button>
    <button formaction="/homepage" formmethod="get">cancel</button>
</form>
{% endblock %}