<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="content">
        <nav>
            <div id="dark_mode">
                <input type="checkbox" id="switch" /><label for="switch">dark mode</label>
            </div>
            <!-- <small>dark mode</small> -->
        </nav>
        <div id="messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <section class="messages">
                {% if messages %}
                {% for category, message in messages %}
                <p class="{{category}}">{{message}}</p>
                {% endfor %}
            </section>
            {% endif %}
            {% endwith %}
        </div>
        <div id="block">
            {% block content %}
            body content goes here from child template
            {% endblock %}
        </div>
    </div>
    <script src="../static/app.js"></script>
</body>

</html>